body {
	margin: 0;
	padding: 0;
	background: #393B45;
	box-shadow: none;
	border-color: inherit;
	outline: none;


}

.regionselect select{
    font-size: 1.2vw;
	padding: 0vw;
	margin: 0vw;
	position: absolute;
	left: 60%;
	top: 25%;
	background: #6E7889;
	appearance: none;
	color: white;
}
.regionselect select:focus{
	outline: none;
}
.search-box{
	position: absolute;
	top: 12vw;
	left: 50vw;
	transform: translate(-50%, -50%) ;
	background: #6E7889;
	height: 2.13vw;
	border-radius: 2.13vw;
	padding: 0.53vw;
	width: 20vw;
}

.search-box img{
	width: 2.13vw;
	height: 2.13vw;
	position: relative;
	left: 0vw;
    bottom: 0.05vw;
    margin: 0vw;
    padding: 0vw;
}

.search-box img:focus{
	outline: none;
	border-color: none;
}

.search-btn {
	color: #6E7889 ;
	float: right;
	width: 2.13vw;
	height: 2.13vw;
	border-radius: 50%;
	background: #6E7889 ;
	display: flex;
	justify-content:center;
	align-items: center;
	border-radius: 20vw;

}


.container button:focus{
	outline:none;
	border-radius: 25vw;
	
}


.search-text{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 0.85vw;
	line-height: 2.13vw;
	font-size: 1.3vw;
}
::placeholder{
	color:white;
	opacity: 0.1;
}
.header{
	position: absolute;
	top: 1%;
	left: 37%;
	font-family: 'Chakra Petch', sans-serif;
	font-size: 2.66vw;
	color: #F3B54A;


}

 .container {
        padding: 0vw;
        margin: 0vw;
      }
      button {
        background: none;
        border: 0vw;
        border-radius: 0px;
        margin: 0vw;
        padding: 0em 0em;
        position: absolute;
        left: 85%;
        bottom: 15%;
        appearance: none;
    }

.container button:active{
  transition: background 0s;
  background-color: #F3B54A;
  opacity: 0.20;
  background-size: 100%;

}

#playerData{
	position: absolute;
	top:14vw;
	left: 10%;
	visibility: hidden;
	width: 80%;
	background-color: #F3B54A;
	height: 30vw;
	border-radius: 10px;
}

#accountInfo{
	background-color: #6E7889;
	height: 50px;
	width: 50px;
	float:left;
	height: 29vw;
	width: 35%;
	margin: 10px 10px 10px 10px;

	display: grid;
	grid-template-rows: 120px 20px auto auto auto;
	grid-template-columns: 40px auto 40px;
	grid-gap: 10px 10px;
	border-radius: 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;

}
#gameInfo{
	display: grid;
	background-color: #6E7889;
	height: 29vw;
	margin: 10px 10px 10px 10px;
	width: 57%;
	right:10px;
	float:right;

	grid-template-rows: auto auto auto;
	grid-template-columns: 150px 100px auto auto;
	border-radius: 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;

}

#pIcon{
	height:6vw;
	width:6vw;
	margin: auto;
	grid-column-start: 2;
	grid-column-end: 3;
	justify-self: center;
}

#pName{
	margin: auto;

	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	justify-self: center;
}

#champ1{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;

	justify-self: left;

	height:4vw;
	width:4vw;
	margin-top: auto;
	margin-bottom: auto;
}
#champ2{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;

	justify-self: left;

	height:4vw;
	width:4vw;
	margin-top: auto;
	margin-bottom: auto;
}
#champ3{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 6;

	justify-self: left;

	height:4vw;
	width:4vw;
	margin-top: auto;
	margin-bottom: auto;
}

#cName0{
	margin:0px;
}
#cPoints0{
	margin:0px;

}
#cName1{
	margin:0px;
	
}
#cPoints1{
	margin:0px;

}
#cName2{
	margin:0px;

}
#cPoints2{
	margin:0px;

}
#sec1{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	justify-self: center;
	margin: 0px 0px 0px 0px;
	margin-top: auto;
	margin-bottom: auto;
}
#sec2{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
	justify-self: center;
	margin: 0px 0px 0px 0px;
	margin-top: auto;
	margin-bottom: auto;
}
#sec3{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 6;
	justify-self: center;
	margin: 0px 0px 0px 0px;
	margin-top: auto;
	margin-bottom: auto;
}

#cGIcon1{
    height: 6vw;
    width: 6vw;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	margin:auto;

}
#cGIcon2{
    height: 6vw;
    width: 6vw;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	justify-self: center;
	margin:auto;

}
#cGIcon3{
	height: 6vw;
    width: 6vw;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
	justify-self: center;
	margin:auto;

}
#kdaPanel1{
	justify-self: center;
	margin: auto;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}
#kdaPanel2{
	justify-self: center;
	margin: auto;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}
#kdaPanel3{
	justify-self: center;
	margin: auto;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}
#statsPanel1 p{
	margin: 0px 0px 0px 0px;
}
#statsPanel2 p{
	margin: 0px 0px 0px 0px;
}
#statsPanel3 p{
	margin: 0px 0px 0px 0px;
}

#statsPanel1{
	justify-self: center;
	margin: auto;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}
#statsPanel2{
	justify-self: center;
	margin: auto;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
}
#statsPanel3{
	justify-self: center;
	margin: auto;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
}
#trophy{
	justify-self: center;
	margin: auto;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
	color: #F3B54A;
}
#wintitle h1{
	margin:0px 0px 0px 0px;
}
#wintitle h2{
	margin:0px 0px 0px 0px;
}
#wintitle{
	justify-self: center;
	margin: auto;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
	font-family: 'Chakra Petch', sans-serif;
	color: #F3B54A;

}
#winrate{
	justify-self: center;
	margin: auto;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
	font-size: 50px;
    color: lime;	

}